body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    text-align: center;
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background: rgb(255, 255, 255);
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

header div {
    display: flex;
    flex-grow: 1;
    
}

header div:nth-child(2) {
    justify-content: flex-end;
}

header div a {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    background-color: white;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div img {
    width: 100%;
}

.google-image {
height: 45%;
width: 25%;
}

.input {
    display: flex;
    border-radius: 10%;
    border: 1px solid lightgray;
    width: 100%;
}

.search-lucky {
    display: flex;
    flex-direction: row;
}

.search {
    display: flex;
    flex-direction: row;
    padding: .6em;
    margin: 1em;
    background-color: rgb(236, 239, 243);
}

.lucky {
    display: flex;
    flex-direction: row;
    padding: .6em;
    margin: 1em;
    background-color: rgb(236, 239, 243);
}

main div input {
    display: flex;
}

main div a {
    display: flex;
}

footer {
    display: none;
}

.privacy-terms-settings {
    padding-left: 3em;
}

@media(min-width: 600px) {

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5em;
        margin: 1em;
        background-color: rgb(234, 234, 234);
    }

}